*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 150%;
  text-align: center;
  margin: 20px 0;
}
.section {
  position: relative;
  width: 31.33%;
  float: left;
  padding: 10px;
  margin: 1%;
  background-color: grey;
  border: 1px solid #000;
}
.right{
  width: 200px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 3px 0;
  text-align: center;
  border: 1px solid #000;

}
#rightC {
  background-color: pink;
 
}
#rightB {
  background-color: red;
}
#rightS {
  background-color: yellow;
}

@media (min-width: 768px) and (max-width: 991px) {
  #one,
  #two {
    width: 48%;
  }
  #three {
    clear: left;
    width: 98%;
  }
}
@media (max-width: 767px) {
  .section {
    clear: both;
    width: 98%;
  }
}
